<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contract is finished, <%= @customer.name %></h1>
    <p>
      The contract <%= @contract.id %> was finished.
    </p>
  </body>
</html>