<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New contract is available, <%= @ninja.name %></h1>
    <p>
      Access the system to accept the new contract 
    </p>
  </body>
</html>